Eggs ignored by PokeAlarm (negative seconds)

```2017-09-09 13:05:12,364 [    MainProcess][    Server][   DEBUG] POST request received from 127.0.0.1.
2017-09-09 13:05:12,365 [    MainProcess][WebhookStr][   DEBUG] Checking for egg or raid
2017-09-09 13:05:12,365 [    MainProcess][WebhookStr][   DEBUG] Converting to raid: 
 {u'move_1': 234, u'move_2': 14, u'name': u'Breaching Whale', u'pokemon_id': 143, u'url': u'http://lh5.ggpht.com/eCEa7YI7q_epoickwHxKEztmcmQJZTSfSQl157wTyJP61wPcAgnlyBAfDjLAfl8KQgyCiSGNsmZV6XBwete8', u'level': 4, u'gym_id': u'745b483812f248a9bb13dbe9bca1374b.16', u'longitude': -118.414247, u'raid_begin': 1504984030, u'base64_gym_id': u'NzQ1YjQ4MzgxMmYyNDhhOWJiMTNkYmU5YmNhMTM3NGIuMTY=', u'raid_battle': 1504987630, u'team': 1, u'latitude': 33.959271, u'cp': 25419, u'raid_end': 1504991230, u'raid_seed': -7992331637037227235}
2017-09-09 13:05:12,365 [    MainProcess][    Server][   DEBUG] Distributed to slkws4.
2017-09-09 13:05:12,365 [    MainProcess][    Server][   DEBUG] Distributed to slkws5.
2017-09-09 13:05:12,365 [    MainProcess][    Server][   DEBUG] Distributed to slkunn.
2017-09-09 13:05:12,366 [    MainProcess][    Server][   DEBUG] Finished distributing object with id -7992331637037227235
2017-09-09 13:05:12,366 [         slkws4][   Manager][   DEBUG] Processing object raid with id -7992331637037227235
2017-09-09 13:05:12,366 [         slkws5][   Manager][   DEBUG] Processing object raid with id -7992331637037227235
2017-09-09 13:05:12,366 [         slkws4][     Utils][   DEBUG] Calculating distance from [33.959271, -118.414247] to [34.0195, -118.4912]
2017-09-09 13:05:12,366 [         slkws5][     Utils][   DEBUG] Calculating distance from [33.959271, -118.414247] to [34.0195, -118.4912]
2017-09-09 13:05:12,366 [         slkunn][   Manager][   DEBUG] Processing object raid with id -7992331637037227235
2017-09-09 13:05:12,366 [         slkws4][   Manager][   DEBUG] Raid inside geofence was not checked because no geofences were set.
2017-09-09 13:05:12,366 [         slkws5][   Manager][   DEBUG] Raid inside geofence was not checked because no geofences were set.
2017-09-09 13:05:12,366 [         slkunn][     Utils][   DEBUG] Calculating distance from [33.959271, -118.414247] to [34.0195, -118.4912]
2017-09-09 13:05:12,367 [         slkws5][   Manager][    INFO] Raid on Snorlax ignored: no filters are set
2017-09-09 13:05:12,367 [         slkws4][   Manager][   DEBUG] Pokemon 'size' was not checked because it was missing.
2017-09-09 13:05:12,367 [         slkws5][   Manager][   DEBUG] Finished processing object raid with id -7992331637037227235
2017-09-09 13:05:12,367 [         slkws4][   Manager][   DEBUG] Pokemon 'gender' was not checked because it was missing.
2017-09-09 13:05:12,367 [         slkunn][   Manager][   DEBUG] Raid inside geofence was not checked because no geofences were set.
2017-09-09 13:05:12,367 [         slkws4][   Manager][   DEBUG] Snorlax passed filter #0
2017-09-09 13:05:12,367 [         slkunn][   Manager][    INFO] Raid on Snorlax ignored: no filters are set
2017-09-09 13:05:12,367 [         slkunn][   Manager][   DEBUG] Finished processing object raid with id -7992331637037227235
2017-09-09 13:05:12,717 [         slkws4][   Manager][    INFO] Raid (-7992331637037227235) notification has been triggered!

'raid_begin'
12:07:10 PST
Timestamp Converter
1504984030
Is equivalent to:
09/09/2017 @ 7:07pm (UTC)
2017-09-09T19:07:10+00:00 in ISO 8601
Sat, 09 Sep 2017 19:07:10 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 19:07:10 UTC in RFC 2822
2017-09-09T19:07:10+00:00 in RFC 3339

'raid_battle'
13:07:10 PST
Timestamp Converter
1504987630
Is equivalent to:
09/09/2017 @ 8:07pm (UTC)
2017-09-09T20:07:10+00:00 in ISO 8601
Sat, 09 Sep 2017 20:07:10 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 20:07:10 UTC in RFC 2822
2017-09-09T20:07:10+00:00 in RFC 3339

'raid_end'
14:07:10 PST
Timestamp Converter
1504991230
Is equivalent to:
09/09/2017 @ 9:07pm (UTC)
2017-09-09T21:07:10+00:00 in ISO 8601
Sat, 09 Sep 2017 21:07:10 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 21:07:10 UTC in RFC 2822
2017-09-09T21:07:10+00:00 in RFC 3339

2017-09-09 12:38:31,592 [    MainProcess][    Server][   DEBUG] POST request received from 127.0.0.1.
2017-09-09 12:38:31,594 [    MainProcess][WebhookStr][   DEBUG] Checking for egg or raid
2017-09-09 12:38:31,594 [    MainProcess][WebhookStr][   DEBUG] Converting to egg: 
 {u'move_1': 0, u'move_2': 0, u'name': u'Life is Good Cat', u'pokemon_id': 0, u'url': u'http://lh3.ggpht.com/sYVtQAIb8JcsyZGp3kZkr9bgpzRAZOYUeYWf94Cd09LtmE4RAQnbOL70uxanyzQsmfjvyf97fVfq6vagDDRe', u'level': 4, u'gym_id': u'86964d2b132949d3972731009ff4c4d6.16', u'base64_gym_id': u'ODY5NjRkMmIxMzI5NDlkMzk3MjczMTAwOWZmNGM0ZDYuMTY=', u'raid_begin': 1504985910, u'longitude': -118.395165, u'team': 1, u'latitude': 34.025118, u'raid_battle': 1504989510, u'cp': 0, u'raid_end': 1504993110, u'raid_seed': 8610071386700152498}
2017-09-09 12:38:31,594 [    MainProcess][    Server][   DEBUG] Distributed to slkws4.
2017-09-09 12:38:31,595 [    MainProcess][    Server][   DEBUG] Distributed to slkws5.
2017-09-09 12:38:31,595 [    MainProcess][    Server][   DEBUG] Distributed to slkunn.
2017-09-09 12:38:31,595 [    MainProcess][    Server][   DEBUG] Finished distributing object with id 8610071386700152498
2017-09-09 12:38:31,596 [         slkws4][   Manager][   DEBUG] Processing object egg with id 8610071386700152498
2017-09-09 12:38:31,596 [         slkws4][   Manager][   DEBUG] Egg ignored: notifications are disabled.
2017-09-09 12:38:31,596 [         slkws5][   Manager][   DEBUG] Processing object egg with id 8610071386700152498
2017-09-09 12:38:31,596 [         slkws4][   Manager][   DEBUG] Finished processing object egg with id 8610071386700152498
2017-09-09 12:38:31,596 [         slkunn][   Manager][   DEBUG] Processing object egg with id 8610071386700152498
2017-09-09 12:38:31,596 [         slkws5][   Manager][    INFO] Egg 8610071386700152498 ignored. Egg hatch in -1.59642 seconds
2017-09-09 12:38:31,596 [         slkws5][   Manager][   DEBUG] Finished processing object egg with id 8610071386700152498
2017-09-09 12:38:31,596 [         slkunn][   Manager][   DEBUG] Egg ignored: notifications are disabled.
2017-09-09 12:38:31,596 [         slkunn][   Manager][   DEBUG] Finished processing object egg with id 8610071386700152498

'raid_begin'
12:38:30 PST
Timestamp Converter
1504985910
Is equivalent to:
09/09/2017 @ 7:38pm (UTC)
2017-09-09T19:38:30+00:00 in ISO 8601
Sat, 09 Sep 2017 19:38:30 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 19:38:30 UTC in RFC 2822
2017-09-09T19:38:30+00:00 in RFC 3339

'raid_battle'
13:38:30 PST
Timestamp Converter
1504989510
Is equivalent to:
09/09/2017 @ 8:38pm (UTC)
2017-09-09T20:38:30+00:00 in ISO 8601
Sat, 09 Sep 2017 20:38:30 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 20:38:30 UTC in RFC 2822
2017-09-09T20:38:30+00:00 in RFC 3339

'raid_end'
14:38:30 PST
Timestamp Converter
1504993110
Is equivalent to:
09/09/2017 @ 9:38pm (UTC)
2017-09-09T21:38:30+00:00 in ISO 8601
Sat, 09 Sep 2017 21:38:30 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 21:38:30 UTC in RFC 2822
2017-09-09T21:38:30+00:00 in RFC 3339

2017-09-09 12:54:37,494 [    MainProcess][    Server][   DEBUG] POST request received from 127.0.0.1.
2017-09-09 12:54:37,495 [    MainProcess][WebhookStr][   DEBUG] Checking for egg or raid
2017-09-09 12:54:37,495 [    MainProcess][WebhookStr][   DEBUG] Converting to egg: 
 {u'move_1': 0, u'move_2': 0, u'name': u'Crash Space Free Library', u'pokemon_id': 0, u'url': u'http://lh5.ggpht.com/WTD5kzIZeAgDWkOPO5KrD7tuhO4KmMHyDLfZlhj2jwS6Pa4k_icd2W4m0YzO36wSgstn0XxfTgo06s4m4yk', u'level': 5, u'gym_id': u'2d6c5be0abde47998636a6483a8604a6.16', u'longitude': -118.405295, u'raid_begin': 1504986122, u'base64_gym_id': u'MmQ2YzViZTBhYmRlNDc5OTg2MzZhNjQ4M2E4NjA0YTYuMTY=', u'raid_battle': 1504989722, u'team': 3, u'latitude': 34.019402, u'cp': 0, u'raid_end': 1504993322, u'raid_seed': 6354883719931003631}
2017-09-09 12:54:37,495 [    MainProcess][    Server][   DEBUG] Distributed to slkws4.
2017-09-09 12:54:37,496 [    MainProcess][    Server][   DEBUG] Distributed to slkws5.
2017-09-09 12:54:37,496 [    MainProcess][    Server][   DEBUG] Distributed to slkunn.
2017-09-09 12:54:37,496 [    MainProcess][    Server][   DEBUG] Finished distributing object with id 6354883719931003631
2017-09-09 12:54:37,496 [         slkws4][   Manager][   DEBUG] Processing object egg with id 6354883719931003631
2017-09-09 12:54:37,496 [         slkws5][   Manager][   DEBUG] Processing object egg with id 6354883719931003631
2017-09-09 12:54:37,496 [         slkunn][   Manager][   DEBUG] Processing object egg with id 6354883719931003631
2017-09-09 12:54:37,496 [         slkws4][   Manager][   DEBUG] Egg ignored: notifications are disabled.
2017-09-09 12:54:37,497 [         slkunn][   Manager][   DEBUG] Egg ignored: notifications are disabled.
2017-09-09 12:54:37,497 [         slkws4][   Manager][   DEBUG] Finished processing object egg with id 6354883719931003631
2017-09-09 12:54:37,497 [         slkws5][   Manager][    INFO] Egg 6354883719931003631 ignored. Egg hatch in -755.497122 seconds
2017-09-09 12:54:37,497 [         slkunn][   Manager][   DEBUG] Finished processing object egg with id 6354883719931003631
2017-09-09 12:54:37,497 [         slkws5][   Manager][   DEBUG] Finished processing object egg with id 6354883719931003631

'raid_begin'
12:42:02 PST
Timestamp Converter
1504986122
Is equivalent to:
09/09/2017 @ 7:42pm (UTC)
2017-09-09T19:42:02+00:00 in ISO 8601
Sat, 09 Sep 2017 19:42:02 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 19:42:02 UTC in RFC 2822
2017-09-09T19:42:02+00:00 in RFC 3339

'raid_battle'
13:42:02 PST
Timestamp Converter
1504989722
Is equivalent to:
09/09/2017 @ 8:42pm (UTC)
2017-09-09T20:42:02+00:00 in ISO 8601
Sat, 09 Sep 2017 20:42:02 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 20:42:02 UTC in RFC 2822
2017-09-09T20:42:02+00:00 in RFC 3339

'raid_end'
14:42:02 PST
Timestamp Converter
1504993322
Is equivalent to:
09/09/2017 @ 9:42pm (UTC)
2017-09-09T21:42:02+00:00 in ISO 8601
Sat, 09 Sep 2017 21:42:02 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 21:42:02 UTC in RFC 2822
2017-09-09T21:42:02+00:00 in RFC 3339

2017-09-09 13:11:48,775 [    MainProcess][    Server][   DEBUG] POST request received from 127.0.0.1.
2017-09-09 13:11:48,776 [    MainProcess][WebhookStr][   DEBUG] Checking for egg or raid
2017-09-09 13:11:48,776 [    MainProcess][WebhookStr][   DEBUG] Converting to egg: 
 {u'move_1': 0, u'move_2': 0, u'name': u'Kenneth Hahn Waterfall ', u'pokemon_id': 0, u'url': u'http://lh6.ggpht.com/eVPGlb8ebrunrhDsmnqZG8pPt5tbJ73V6MIMz-S7kxaJjLsHmnRhI24XJaeZUx_Ngtxais2Ek9dxyWOq66wC', u'level': 3, u'gym_id': u'4377375b72774141bb8188ce14cd7670.16', u'longitude': -118.372339, u'raid_begin': 1504987902, u'base64_gym_id': u'NDM3NzM3NWI3Mjc3NDE0MWJiODE4OGNlMTRjZDc2NzAuMTY=', u'raid_battle': 1504991502, u'team': 1, u'latitude': 34.01513, u'cp': 0, u'raid_end': 1504995102, u'raid_seed': -3245183936008983698}
2017-09-09 13:11:48,776 [    MainProcess][    Server][   DEBUG] Distributed to slkws4.
2017-09-09 13:11:48,776 [    MainProcess][    Server][   DEBUG] Distributed to slkws5.
2017-09-09 13:11:48,777 [    MainProcess][    Server][   DEBUG] Distributed to slkunn.
2017-09-09 13:11:48,777 [    MainProcess][    Server][   DEBUG] Finished distributing object with id -3245183936008983698
2017-09-09 13:11:48,777 [         slkws5][   Manager][   DEBUG] Processing object egg with id -3245183936008983698
2017-09-09 13:11:48,777 [         slkunn][   Manager][   DEBUG] Processing object egg with id -3245183936008983698
2017-09-09 13:11:48,778 [         slkunn][   Manager][   DEBUG] Egg ignored: notifications are disabled.
2017-09-09 13:11:48,778 [         slkws5][   Manager][    INFO] Egg -3245183936008983698 ignored. Egg hatch in -6.778054 seconds
2017-09-09 13:11:48,778 [         slkunn][   Manager][   DEBUG] Finished processing object egg with id -3245183936008983698
2017-09-09 13:11:48,778 [         slkws5][   Manager][   DEBUG] Finished processing object egg with id -3245183936008983698
2017-09-09 13:11:48,777 [         slkws4][   Manager][   DEBUG] Processing object egg with id -3245183936008983698
2017-09-09 13:11:48,778 [         slkws4][   Manager][   DEBUG] Egg ignored: notifications are disabled.
2017-09-09 13:11:48,778 [         slkws4][   Manager][   DEBUG] Finished processing object egg with id -3245183936008983698

'raid_begin'
13:11:42 PST
Timestamp Converter
1504987902
Is equivalent to:
09/09/2017 @ 8:11pm (UTC)
2017-09-09T20:11:42+00:00 in ISO 8601
Sat, 09 Sep 2017 20:11:42 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 20:11:42 UTC in RFC 2822
2017-09-09T20:11:42+00:00 in RFC 3339

'raid_battle'
14:11:42 PST
Timestamp Converter
1504991502
Is equivalent to:
09/09/2017 @ 9:11pm (UTC)
2017-09-09T21:11:42+00:00 in ISO 8601
Sat, 09 Sep 2017 21:11:42 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 21:11:42 UTC in RFC 2822
2017-09-09T21:11:42+00:00 in RFC 3339

'raid_end'
15:11:42 PST
Timestamp Converter
1504995102
Is equivalent to:
09/09/2017 @ 10:11pm (UTC)
2017-09-09T22:11:42+00:00 in ISO 8601
Sat, 09 Sep 2017 22:11:42 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 22:11:42 UTC in RFC 2822
2017-09-09T22:11:42+00:00 in RFC 3339

2017-09-09 13:11:49,923 [    MainProcess][    Server][   DEBUG] POST request received from 127.0.0.1.
2017-09-09 13:11:49,924 [    MainProcess][WebhookStr][   DEBUG] Checking for egg or raid
2017-09-09 13:11:49,924 [    MainProcess][WebhookStr][   DEBUG] Converting to egg: 
 {u'move_1': 0, u'move_2': 0, u'name': u'Crescent Park Rock Pillar Sculpture', u'pokemon_id': 0, u'url': u'http://lh3.ggpht.com/vNfKLiHTPqt5XwmaEqYZthzLwX-XMNoSLcM3Q_61Ro7LxDvZevRRosa_e6spxCOg5QcJf3yRiaqT7xUhQvul', u'level': 5, u'gym_id': u'280a0050280a4285abba051f94277b53.16', u'longitude': -118.426778, u'raid_begin': 1504987908, u'base64_gym_id': u'MjgwYTAwNTAyODBhNDI4NWFiYmEwNTFmOTQyNzdiNTMuMTY=', u'raid_battle': 1504991508, u'team': 1, u'latitude': 33.968804, u'cp': 0, u'raid_end': 1504995108, u'raid_seed': -2009058345265589559}
2017-09-09 13:11:49,925 [    MainProcess][    Server][   DEBUG] Distributed to slkws4.
2017-09-09 13:11:49,925 [    MainProcess][    Server][   DEBUG] Distributed to slkws5.
2017-09-09 13:11:49,925 [    MainProcess][    Server][   DEBUG] Distributed to slkunn.
2017-09-09 13:11:49,925 [    MainProcess][    Server][   DEBUG] Finished distributing object with id -2009058345265589559
2017-09-09 13:11:49,926 [         slkws4][   Manager][   DEBUG] Processing object egg with id -2009058345265589559
2017-09-09 13:11:49,926 [         slkws5][   Manager][   DEBUG] Processing object egg with id -2009058345265589559
2017-09-09 13:11:49,926 [         slkws4][   Manager][   DEBUG] Egg ignored: notifications are disabled.
2017-09-09 13:11:49,926 [         slkunn][   Manager][   DEBUG] Processing object egg with id -2009058345265589559
2017-09-09 13:11:49,926 [         slkws5][   Manager][    INFO] Egg -2009058345265589559 ignored. Egg hatch in -1.926716 seconds
2017-09-09 13:11:49,926 [         slkws4][   Manager][   DEBUG] Finished processing object egg with id -2009058345265589559
2017-09-09 13:11:49,926 [         slkunn][   Manager][   DEBUG] Egg ignored: notifications are disabled.
2017-09-09 13:11:49,926 [         slkws5][   Manager][   DEBUG] Finished processing object egg with id -2009058345265589559
2017-09-09 13:11:49,926 [         slkunn][   Manager][   DEBUG] Finished processing object egg with id -2009058345265589559

'raid_begin'
13:11:48 PST
Timestamp Converter
1504987908
Is equivalent to:
09/09/2017 @ 8:11pm (UTC)
2017-09-09T20:11:48+00:00 in ISO 8601
Sat, 09 Sep 2017 20:11:48 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 20:11:48 UTC in RFC 2822
2017-09-09T20:11:48+00:00 in RFC 3339

'raid_battle'
14:11:48 PST
Timestamp Converter
1504991508
Is equivalent to:
09/09/2017 @ 9:11pm (UTC)
2017-09-09T21:11:48+00:00 in ISO 8601
Sat, 09 Sep 2017 21:11:48 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 21:11:48 UTC in RFC 2822
2017-09-09T21:11:48+00:00 in RFC 3339

'raid_end'
15:11:48 PST
Timestamp Converter
1504995108
Is equivalent to:
09/09/2017 @ 10:11pm (UTC)
2017-09-09T22:11:48+00:00 in ISO 8601
Sat, 09 Sep 2017 22:11:48 +0000 in RFC 822, 1036, 1123, 2822
Saturday, 09-Sep-17 22:11:48 UTC in RFC 2822
2017-09-09T22:11:48+00:00 in RFC 3339```

See the PR currently open for discussion on this subject....

I'm closing this out since this Monocle fork was updated to be compliant with RocketMap's PokeAlarm webhook standards